:root {
  --bg-dark: rgb(35, 35, 35);
  --bg: #2a4759;
  --bg-light: #faf8ee;
  --text-dark: #135499;
  --text-light: #dddddd;
  --text-soft: #ffe3bb;
  --primary-color: #ffa673;
  --secondary-color: #ff4f0f;
  --background: #fff;
}
* {
  border: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", sans-serif;
  color: var(--text-dark);
}

/* font */
h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

/* H2 – Subheading */
h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}

/* H3 – Sub-subheading */
h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

/* H4 – Minor heading */
h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
}
/* H5 – Small heading */
h5 {
  font-size: clamp(1.1rem, 2vw, 1.25rem);
}

/* H6 – Tiny heading / caption */
h6 {
  font-size: clamp(0.95rem, 1.5vw, 1.1rem);
}

/* Paragraph / body text */
p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}
a {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.text__bgd__one {
  background-color: var(--bg);
  color: var(--background);
}

.text__bgd__two {
  background-color: var(--bg);
  color: var(--primary-color);
}
.text__bgd__three {
  background-color: var(--primary-color);
  color: var(--background);
}
.text__bgd__four {
  background-color: var(--secondary-color);
  color: var(--background);
}

.text__bgl__one {
  background-color: var(--background);
  color: var(--bg);
}
.text__bgl__two {
  background-color: var(--background);
  color: var(--primary-color);
}

.text__bgl__three {
  background: var(--background);
  color: var(--secondary-color);
}

/* navbar */
.navbar__container {
  padding: 1.4rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 9999;
}

.nav__logo a {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  padding: 0.2rem 1rem;
  transition: all 0.5s ease;
  font-family: "Meow Script";
}
.nav__logo a:hover {
  border-radius: 16px;
}

.nav__link {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.nav__link a {
  color: var(--text-dark);
  font-size: clamp(1.1rem, 2vw, 1.25rem);
}

.nav__link a:hover {
  text-decoration: line-through;
  text-decoration-color: var(--secondary-color);
}

.nav__link a.active {
  text-decoration: line-through;
  text-decoration-color: var(--secondary-color);
}

.nav__extra {
  color: var(--text-dark);
}

#menu {
  display: none;
}

/* mediaqueries */

@media (max-width: 768px) {
  .nav__link {
    display: none;
  }
  #menu {
    display: inline-block;
    cursor: pointer;
  }
}

/* hero container */
.hero__container {
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tagline__note {
  color: var(--primary-color);
  cursor: pointer;
}
.tagline__note:hover {
  color: var(--secondary-color);
}

/* mediaqueries */
@media (max-width: 768px) {
  .hero__container h1 {
    max-width: 350px;
    text-align: center;
  }
}

/* about container */

.about__container {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding: 6rem 7%;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--background);
}

.tagline__title {
  letter-spacing: 0.1rem;
}

.about__container p {
  font-weight: 500;
  font-family: "Outfit";
  line-height: 2rem;
  text-align: justify;
  max-width: 900px;
}

.about__container a {
  font-family: "Outfit";
  cursor: pointer;
  display: flex;
}

/* project container */

.project__container {
  padding: 6rem 7% 1.4rem;
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
}

.project__container .project__box {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid var(--bg-light);
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.project__box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project__box .project__title {
  margin: 0.5rem;
  font-family: "Outfit";
  font-weight: 600;
  padding: 0.5rem;
}
.project__box .project__image {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: mandatory;
  padding: 0.5rem;
  cursor: pointer;
  list-style: none;
  scroll-behavior: smooth;
}

.project__image .project__card {
  flex: 0 0 calc(50% - 1rem);
  scroll-snap-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 12px;
}

.project__card img {
  width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  display: block;
  object-fit: contain;
}

.project__image::-webkit-scrollbar {
  display: none;
}

.project__image.dragging .project__card {
  cursor: pointer;
  user-select: none;
}

.project__image.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.project__image.no-transition {
  scroll-behavior: auto;
}

.project__note {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

.project__note p {
  background-color: var(--secondary-color);
  color: var(--background);
  padding: 0.2rem 1rem;
  border-radius: 0 0 8px 8px;
}

/* mediaqueries */
@media (max-width: 1024px) {
  .project__box .project__image {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    height: 35vh;
    display: flex;
  }

  .project__image .project__card {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .project__box .project__image {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    height: 20vh;
    display: flex;
  }

  .project__image .project__card {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* produk container */

.product__container {
  padding: 6rem 7% 1.4rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product__box {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 1.4rem;
}
.product__card {
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.product__card:hover {
  transform: scale(1.05);
}

.product__card img {
  width: 100%;
  height: 100%;
}

.tagline__des {
  font-family: "Outfit";
  font-size: clamp(0.8rem, 1.5vw, 0.8rem);
  text-align: justify;
}

/* mediaqueries */
@media (max-width: 540px) {
  .product__container {
    padding: 1.4rem 7%;
  }
}

/* contact container */
.contact__container {
  padding: 6rem 7% 1.4rem;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
}

.contact__box {
  display: flex;
  padding: 1rem 0;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.contact__box i {
  display: flex;
  font-size: clamp(3rem, 5vw, 4rem);
  color: var(--text-dark);
  border-radius: 8px;
  padding: 0.2rem 1.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}

.contact__box i:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
}

hr {
  border: none;
  height: 0.05rem;
  background-color: rgba(192, 193, 223, 0.4);
}

.footer__container {
  padding: 1.4rem 7%;
  background-color: transparent;
  color: var(--text-dark);
  cursor: default;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer__container p span {
  color: var(--secondary-color);
}

/* mediaqueries */
@media (max-width: 768px) {
  .contact__container {
    align-items: center;
    justify-content: center;
  }
  .contact__box {
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

/* modal overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

#modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10000;
  transition: color 0.3s;
  background-color: var(--background);
  border-radius: 12px;
  color: var(--secondary-color);
}
