@media (max-width: 768px) {
  .card {
    width: 90%;
    max-width: 100%;
    height: auto;
  }

  .card-content {
    text-align: initial;
    justify-content: flex-start;
    gap: 1rem;
  }

  .text-content h2,
  .text-content p {
    text-align: start;
  }
}
